/*Header Component*/

.logo {
  text-align: center;
  padding-top: 10px;
  margin-top: 10px;
 
}
.logotext {
  text-align: center;
}

.tabs {
  color: white;
}


.navbar{
  z-index:1000!important;
  
  
}
Button:hover {
  text-decoration: underline !important;
  
}
/*....................imagecard...................*/

.imageheader{
  text-align: center;
  font-family: Raleway ;
}
.imagecard{
  text-align: justify;
}
/* CardElement component */

.cardelementback{
  _height: 500px;
}

.cardelement{
  _height: 350px;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 40px;
  margin-right: 40px;
}
